/* ==============================================================
   GLOBAL STYLES
   ============================================================== */
@font-face {
    font-family: 'stockcar';
    src: url('../fonts/Stockcar.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #8080804a;
}
h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 300;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 52px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
}
h2 {
    font-size: 47px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 34px;
    }
}
h3 {
    font-size: 35px;
}

@media (max-width: 992px) {
    h3 {
        font-size: 30px;
    }
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 28px;
}

@media (max-width: 768px) {
    h5 {
        font-size: 22px;
    }
}
h6 {
    font-size: 21px;
    font-weight: 400;
}
p {
    font-size: 15px;
}
.main-block {
    padding: 90px 0;
}

@media (max-width: 768px) {
    .main-block {
        padding: 45px 0;
    }
}
.light-bg {
    background: #f3f4f7;
}
.dark-bg {
    background: #252a33;
}
/* ==============================================================
   HEADER
   ============================================================== */
.nav-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 9999999
}
.nav-menu-2 {
    position: inherit;
}
.form-wrap {
    background: rgba(0, 0, 0, 0.45);
    padding: 15px;
}
.navbar {
    padding: .5rem 0;
}
.navbar-brand {
    font-size: 31px;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-brand:hover {
    color: #fff;
}
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    /*font-family: 'stockcar';*/
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    outline: none;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
.country .dropdown-item.active, .country .dropdown-item:active{
    background-color: #FFC1C7;
}
@media (max-width: 992px) {
    .navbar-nav {
        padding: 7px 20px;
    }
}
.nav-item {
    margin: 0 20px 0 0;
}
.nav-item span {
    font-size: 10px;
    margin: 0 0 0 4px;
}
.bg {
    width: 100%;
    height: 70px;
}
.is-sticky {
    /*background: #252a33;*/
    background-image: url(../images/copyright.png);
    background-size: contain;
    background-repeat: repeat;
    opacity: 1;
}
.is-sticky.cnd{
    background-image: url(../images/copyright_cnd.png);
    background-size: contain;
}
.is-sticky.aus{
    background-image: url(../images/copyright_aus.png);
    background-size: contain;
}
.is-sticky.nz{
    background-image: url(../images/copyright_nz.png);
    background-size: contain;
}
.is-sticky.uk{
    background-image: url(../images/copyright_uk.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.is-sticky.cnd{
    background-image: url(../images/copyright_cnd.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.is-sticky.aus{
    background-image: url(../images/copyright_aus.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.is-sticky.nz{
    background-image: url(../images/copyright_nz.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.is-sticky.uk{
    background-image: url(../images/copyright_uk.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.cnd{
    background-image: url(../images/copyright_cnd.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.aus{
    background-image: url(../images/copyright_aus.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.nz{
    background-image: url(../images/copyright_nz.png);
    background-size: contain;
}
.navbar.fixed.navbar-page.uk{
    background-image: url(../images/copyright_uk.png);
    background-size: contain;
}
.transition {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

@media (max-width: 992px) {
    .fixed {
        border: none;
        /*background: #252a33;*/
    }
}
.dropdown-menu {
    background: #030303;
}
.dropdown-item {
    color: #aaaaaa;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.dropdown-item:hover {
    color: #fff;
    background: none;
}
.ti-plus {
    font-size: 14px;
    padding: 0 8px 0 0;
}
.slider {
    background: url(../images/home_background_image.png) no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

@media (max-width: 992px) {
    .slider {
        min-height: 700px;
    }
}
.btn-outline-light {
    padding: 10px 16px;
}

@media (max-width: 992px) {
    .btn-outline-light {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .btn-outline-light {
        width: 30%;
    }
}

@media (max-width: 576px) {
    .btn-outline-light {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .btn-outline-light {
        width: 100%;
    }
}
.btn-outline-light:hover {
    color: #000;
}
.slider-title_box {
    text-align: center;
}
.slider-content_wrap h5 {
    color: #fff;
    margin: 0px 0 10px 0;
    font-weight: 100;
}
.slider-content_wrap h6 {
    color: #fff;
    font-weight: 100;
}

@media (max-width: 480px) {
    .form-wrap {
        margin: 0 !important;
    }
}
.btn-group {
    width: 100%;
}

@media (max-width: 576px) {
    .btn-group {
        display: block;
    }
}
.btn-group1 {
    border-radius: 4px;
    padding: 13px 15px;
    width: 47%;
    background: transparent;
    border: 1px solid #ffff;
    margin-right: 10px;
    height: 35px;
    font-size: 14px;
    color: #fff !important;
}

@media (max-width: 576px) {
    .btn-group1 {
        width: 100%;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 17px;
    }
}
.btn-group2 {
    border-radius: 4px;
    padding: 13px 15px;
    width: 22%;
    background: transparent;
    border: 1px solid #ffff;
    margin-right: 10px;
    height: 35px;
    font-size: 14px;
    color: #fff !important;
    color: #fff !important;
}

@media (max-width: 576px) {
    .btn-group2 {
        width: 100%;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 17px;
    }
}
.btn-form {
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 7px 0;
    width: 26%;
    background: #f30000;
    color: #ffffff;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (max-width: 768px) {
    .btn-form {
        width: auto;
    }
}

@media (max-width: 576px) {
    .btn-form {
        width: 100%;
        border-radius: 3px;
    }
}
.search-icon {
    font-size: 15px;
    padding-right: 10px;
}
.slider-link {
    color: #909090;
    margin: 45px 0 0;
    font-size: 19px;
}

@media (max-width: 480px) {
    .slider-link {
        margin: 18px 0 0;
    }
    .slider-link a,  .slider-link span {
        display: block;
    }
}
.slider-link a {
    color: #909090;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.slider-link a:hover {
    color: #fff;
}
.slider-link span {
    padding: 0 18px;
}
/* ==============================================================
   FIND PLACES
   ============================================================== */
.styled-heading {
    text-align: center;
    margin: 0 0 50px;
}

@media (max-width: 768px) {
    .styled-heading {
        margin: 0 0 30px;
    }
}
.styled-heading h3 {
    position: relative;
    padding: 0 0 23px;
}
.styled-heading h3:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #ff3a6d;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.find-img-align {
    padding: 0 0 15px;
}

@media (max-width: 768px) {
    .find-img-align {
        padding: 0;
    }
}
/* ==============================================================
   FEATURED PLACES
   ============================================================== */
.featured-place-wrap {
    background: #fff;
    margin: 0 0 30px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    /* border: 1px solid gray; */
    margin-right: 9px;
    box-shadow: 3px 6px 7px #d0c9c9;
    font-size: 13px;
}
.featured-place-wrap:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3);
    box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3);
}
.featured-place-wrap a {
    display: block;
    text-decoration: none;
    color: #000;
}
.featured-place-wrap img {
    width: 100%;
    height: 150px;
}
.featured-rating, .featured-rating-orange, .featured-rating-green {
    position: absolute;
    right: 59px;
    width: 172px;
    text-align: center;
    margin: -22px 10px 0 0;
    font-size: 10px;
    background: #fff !important;
    color: #f00;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px #888888;
}
.featured-title-box {
    padding: 22px 20px;
}

@media (max-width: 480px) {
    .featured-title-box {
        padding: 22px 14px;
    }
}
.featured-title-box h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.featured-title-box p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0;
}

@media (max-width: 320px) {
    .featured-title-box p {
        font-size: 13px;
    }
}
.featured-title-box p span {
    color: #ffb006;
    padding: 0;
}
.featured-title-box span {
    color: #9fa9b9;
    float: right;
    padding: 0 10px;
}

@media (max-width: 320px) {
    .featured-title-box span {
        padding: 0 4px;
    }
}
.featured-title-box ul {
    padding: 0;
    margin: 10px 0 0;
}
.featured-title-box ul li {
    list-style: none;
    color: #737882;
    line-height: 2;
}

@media (max-width: 1200px) {
    .featured-title-box ul li span {
        padding: 0 4px 0 0;
    }
}

@media (max-width: 320px) {
    .featured-title-box ul li span {
        font-size: 12px;
        padding: 0 2px 0 0;
    }
}
.featured-title-box ul li p {
    margin: 0;
}
.bottom-icons {
    padding: 15px 0 0;
    line-height: 1;
}
.bottom-icons span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px;
}
.closed-now {
    color: #ff3a6d;
    font-size: 13px;
    display: block;
    font-weight: 400;
    display: inline-block;
}
.open-now {
    color: #46cd38;
    font-size: 13px;
    display: block;
    font-weight: 400;
    display: inline-block;
}
.featured-btn-wrap {
    text-align: center;
}

@media (max-width: 1200px) {
    .featured-btn-wrap {
        margin: 3px 0 0;
    }
}
.featured-btn-wrap .btn-danger {
    background: #ff3a6d;
    padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0;
}

@media (max-width: 576px) {
    .featured-btn-wrap .btn-danger {
        width: 100%;
    }
}
.featured-btn-wrap .btn-danger:hover, .featured-btn-wrap .btn-danger:focus {
    background: #f34e79;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ==============================================================
   CATEGORIES
   ============================================================== */
@media (max-width: 992px) {
    .category-responsive {
        max-width: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 576px) {
    .category-responsive {
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}
.category-wrap:hover {
    text-decoration: none;
}
.category-wrap:hover .category-block {
    background: #f34e79;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.category-wrap:hover .category-img path {
    text-decoration: none;
    fill: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.category-wrap:hover .category-block h6 {
    color: #fff;
    text-decoration: none;
}
.category-block {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #e5e7ef;
    padding: 30px;
    margin: 0 0 30px;
}
.category-block h6 {
    color: #3e434b;
    margin: 10px 0 0;
}
.category-img {
    width: 64px;
    height: 64px;
}
/* ==============================================================
   ADD LISTING
   ============================================================== */
.add-listing-wrap {
    text-align: center;
    margin: 0 0 36px;
}
.add-listing-wrap h2 {
    font-weight: 300;
}
.add-listing-wrap p {
    font-size: 22px;
    font-weight: 300;
    color: #737882;
}
/* ==============================================================
   FOOTER
   ============================================================== */
footer {
    position: relative;
}
.copyright {
    text-align: center;
}
.copyright p {
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
    margin: 0;
}
.copyright ul {
    margin: 25px 0 0;
    padding: 0;
}
.copyright ul li {
    list-style: none;
    display: inline-block;
}
.copyright ul li a {
    color: #ccc;
    font-size: 22px;
    padding: 0 10px;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.copyright ul li a:hover {
    opacity: 1;
    text-decoration: none;
}
/* ==============================================================
   SUB PAGES
   ============================================================== */
/* ==============================================================
   DETAIL PAGE
   ============================================================== */
.detail-filter-wrap {
    padding: 17px 0;
    border-bottom: 1px solid #e7e7e7;
}
.detail-filter-wrap p {
    font-size: 18px;
    color: #3e434b;
    font-weight: 300;
    margin: 6px 0 0;
}
.detail-filter-wrap p span {
    font-weight: 500;
}
.detail-filter {
    text-align: right;
}

@media (max-width: 992px) {
    .detail-filter {
        text-align: left;
    }
}
.detail-filter p {
    font-weight: 300;
    color: #3e434b;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 0 0;
}
.map-responsive-wrap {
    display: none;
}

@media (max-width: 992px) {
    .map-responsive-wrap {
        display: block;
    }
}
.map-responsive-wrap iframe {
    width: 100%;
    height: 800px;
}
.map-icon {
    display: none;
    border: 1px solid #737882;
    color: #737882;
    padding: 8px 10px 2px 10px;
    margin: -46px 0 0;
    opacity: 0.6;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.map-icon:hover {
    text-decoration: none;
    color: #737882;
    opacity: 1;
}

@media (max-width: 992px) {
    .map-icon {
        display: inline-block;
        text-align: right;
        float: right;
    }
}

@media (max-width: 480px) {
    .map-icon {
        float: left;
        margin: 10px 0 0;
    }
}
.map-icon span {
    font-size: 22px;
}
.map-toggle {
    display: none;
}
.filter-dropdown {
    display: inline-block;
}
.filter-dropdown select {
    border-radius: 0;
}
.detail-checkbox-wrap {
    padding: 22px 0;
}
.detail-options-wrap {
    padding: 15px 0;
}

@media (max-width: 992px) {
    .responsive-wrap {
        max-width: 100%;
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }
}
/* 
   BOOKING PAGE
*/
/* ==============================================================
   RESERVE A SEAT
   ============================================================== */
.reserve-block {
    padding: 30px 0;
}
.reserve-block h5 {
    color: #3e434b;
    font-weight: 400;
    display: inline-block;
    margin: 0;
}
.reserve-block p {
    display: inline-block;
    font-size: 18px;
    color: #b2b8c3;
    font-weight: 400;
    padding: 0 0 0 8px;
    margin: 0 0 8px;
}

@media (max-width: 992px) {
    .reserve-block p {
        margin: 0;
    }
}
.reserve-block p span {
    color: #ffb006;
}
.reserve-description {
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.reserve-seat-block {
    text-align: right;
}

@media (max-width: 992px) {
    .reserve-seat-block {
        margin: 15px 0 0;
    }
}

@media (max-width: 768px) {
    .reserve-seat-block {
        text-align: left;
    }
}

@media (max-width: 576px) {
    .reserve-seat-block {
        text-align: center;
    }
}
.reserve-rating {
    font-size: 23px;
    background: #46cd38;
    padding: 10px 14px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
}
.review-btn {
    display: inline-block;
    text-align: center;
    margin: 3px 14px 0 14px;
}

@media (max-width: 1200px) {
    .review-btn {
        margin: 3px 4px 0 4px;
    }
}

@media (max-width: 576px) {
    .review-btn {
        margin: 3px 0px 0 0px;
    }
}
.review-btn span {
    display: block;
    color: #8a8e96;
    font-size: 13px;
    margin-top: 3px;
}
.review-btn .btn-outline-danger {
    color: #ff3a6d;
    border-color: #ff3a6d;
}
.review-btn .btn-outline-danger:hover {
    color: #fff;
    background: #ff3a6d;
}
.reserve-btn {
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {
    .reserve-btn {
        margin: -7px 0 0;
    }
}

@media (max-width: 576px) {
    .reserve-btn {
        margin: 0 0 0;
        width: 100%;
    }
}
.custom-checkbox {
    color: #737882;
    font-size: 14px;
    line-height: 1.8;
    margin-right: 0;
}
.custom-checkbox span {
    padding: 0 10px 0 0;
}
/* ==============================================================
   BOOKING DETAILS
   ============================================================== */
.booking-details_wrap {
    padding: 26px 0;
}
.booking-checkbox_wrap {
    background: #fff;
    padding: 30px;
}
.booking-checkbox_wrap h5 {
    color: #3e434b;
    text-align: center;
    font-weight: 400;
}
.booking-checkbox {
    color: #737882;
    font-size: 15px;
}
.booking-checkbox p {
    line-height: 1.8;
}
.customer-review_wrap {
    display: inline-block;
    width: 100%;
}
.customer-img {
    float: left;
}

@media (max-width: 992px) {
    .customer-img {
        text-align: center;
        float: none;
        margin: 0 0 15px;
    }
}
.customer-img img {
    border-radius: 50%;
}
.customer-img p {
    color: #3e434b;
    margin: 4px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}
.customer-img span {
    font-size: 14px;
    color: #737882;
    text-align: center;
}
.customer-content-wrap {
    margin: 0 0 0 135px;
}

@media (max-width: 992px) {
    .customer-content-wrap {
        margin: 0 0 0 110px;
    }
}

@media (max-width: 992px) {
    .customer-content-wrap {
        margin: 0px;
    }
}
.customer-content-wrap ul {
    margin: 24px 0 0;
    padding: 0;
}
.customer-content-wrap ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 0;
}

@media (max-width: 480px) {
    .customer-content-wrap ul li {
        margin: 0 0 10px 0;
    }
}
.customer-content-wrap span {
    color: #737882;
    display: inline-block;
    margin: 26px 0 0;
}
.customer-content-wrap a {
    border: 1px solid #ccc;
    color: #737882;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 0 0 10px;
}
.customer-content-wrap a:hover {
    text-decoration: none;
}
.customer-content-wrap a span {
    margin: 0 6px 0 0;
}
.customer-text {
    color: #737882;
    margin: 15px 0 0;
    line-height: 1.6;
}
.customer-content h6 {
    color: #3e434b;
}
.customer-content p {
    color: #737882;
    display: inline-block;
    vertical-align: top;
    line-height: 0.8;
    margin: 0 0 0 8px;
}
.customer-review {
    display: inline-block;
}

@media (max-width: 576px) {
    .customer-review {
        display: block;
    }
}
.customer-review span {
    width: 10px;
    height: 10px;
    background: #46cd38;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 0 5px 0 0;
}
.round-icon-blank {
    background: #d9dce7 !important;
}
.round-icon-red {
    background: #ff5a5a !important;
}
.round-icon-orange {
    background: #ffbb27 !important;
}
.customer-rating {
    background: #46cd38;
    padding: 8px 14px;
    float: right;
    font-size: 18px;
    color: #fff;
    border-radius: 3px;
}

@media (max-width: 576px) {

    .customer-rating {
        float: none;
        display: inline-block;
    }
}
.customer-rating-red {
    background: #ff5a5a !important;
}
.customer-description {
    margin: 0 0 0 50px;
}
.contact-info {
    background: #fff;
    padding: 0 0 6px;
    margin: 0 0 15px;
}
.contact-info img {
    width: 100%;
}
.contact-info label {
    color: #46cd38;
    font-size: 14px;
    padding: 0 0 0 50px;
}

@media (max-width: 992px) {
    .contact-info label {
        display: block;
    }
}
.address {
    color: #737882;
    padding: 18px 0 0 16px;
}
.address > span {
    font-size: 18px;
    float: left;
    margin: 4px 0 0;
}
.address p {
    margin: 0 0 0 34px;
}
.address .featured-open {
    font-size: 13px;
    padding: 0 0 0 34px;
}
.btn-contact {
    display: block;
    padding: 16px;
    margin: 12px 16px;
    border: 2px solid #ff3a6d;
    color: #ff3a6d;
    font-weight: 400;
}
.btn-contact:hover {
    background: #ff3a6d;
    border: 2px solid #ff3a6d;
}
.follow {
    background: #fff;
}
.follow ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}
.follow ul li {
    list-style: none;
    padding: 13px 0;
    width: 33%;
}

@media (max-width: 1200px) {
    .follow ul li {
        padding: 12px 18px;
    }
}
.follow ul li:first-child, .follow ul li:nth-child(2) {
    border-right: 1px solid #ededed;
}
.follow ul li h6 {
    margin: 0;
}
.follow a {
    color: #ff3a6d;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 14px 0;
}
.follow-img {
    text-align: center;
    padding: 20px 16px;
    color: #3e434b;
}
.follow-img img {
    border-radius: 50%;
}
.follow-img h6 {
    margin: 11px 0 0;
}
.social-counts span {
    font-size: 14px;
    color: #737882;
}
.map-wrap {
    padding: 0;
}
.map-fix {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 41.7%;
}

@media (max-width: 992px) {

    .map-fix {
        display: none;
        top: 17%;
        left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .map-fix {
        top: 24%;
    }
}

@media (max-width: 365px) {

    .map-fix {
        top: 29.3%;
    }
}
#map {
    height: 100%;
    width: 100%;
}
/*# sourceMappingURL=style.css.map */
.mt10 {
    margin-top: 15px;
}
.cuntary {
    position: absolute;
    top: 9px;
}
.slider::after {
    background: black;
}
.list-convence>ul {
    display: flex;
    position: relative;
    text-align: right;
}
.list-convence {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.list-convence>ul>li>a {
    text-decoration: none;
}
.list-convence>ul>li>img, .list-convence>ul>li>a>img {
    height: 40px;
    width: 40px;
}
.list-convence>ul>li>i, .list-convence>ul>li>a>i {
    font-size: 14px;
    color: #fff;
    font-style: normal;
}
.list-convence>ul>li {
    margin-right: 43px;
    text-align: center;
    padding-bottom: 10px;
}
.list-convence>ul>li:last-child {
    margin-right: 0;
}
.advartigment>ul {
    display: flex;
    list-style: none;
    padding: 0
}
.advartigment>ul>li {
    width: 17%;
}
.advartigment>ul>li>img {
    width: 100%;
}

/*@media (min-width: 1200px) {
.container {
        max-width: 1263px !important;
}
}*/
.no_padding {
    padding: 0;
}
.main_login {
    background-image: url("../images/login/log_in_background_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login_div {
    width: 60%;
    margin: 0 auto;
    width: 90%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 7px 6px 4px #000000ab;
    margin-top: 47px;
    border-radius: 7px;
}
.first-part {
    background-image: url(../images/login/log_in_background_icon.png);
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap {
    padding: 50px 128px;
    text-align: center;
    color: #fff;
}
.wrap>p {
    font-size: 15px;
    text-align: center;
    word-spacing: 2px;
    font-weight: 400;
}
.wrap>img {
    width: 230px;
    height: auto;
    margin: 10px 0 20px 0;
}
.second_div {
    width: 85%;
    position: relative;
    margin: 60px auto;
    height: auto;
}
.input-group-addon {
    padding: .5rem .5rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.25;
    color: #fff;
    height: 35px;
    text-align: center;
    background-color: #f0110f;
    border: 1px solid rgb(243, 7, 0);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.cust_input_group {
    margin-bottom: 20px;
    height: 41px;
    border-radius: 0;
    border-left: none;
    font-weight: normal;
}
.cust_input {
    border-radius: 0;
    border-left: none;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 18px;
    width: 23px;
    position: relative;
    top: 4px;
}
.nri_button {
    background: #f30700;
    color: #fff;
    font-weight: normal;
    padding: 7px 34px;
    margin: 30px 0px;
}
.btn_transernt {
    background: transparent;
    color: red;
    border: 1px solid #f60000;
}
.cross_icon {
    position: absolute;
    top: -10px;
    right: 13px;
    height: 40px;
}
.recent_add {
    background: #fff;
    height: 400px;
    border-radius: 8px;
}
.recentadd_wrap {;
                 position: relative;
}
.p_4 {
    padding: 4px;
}
.Addset_img {
    height: 115px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -43px;
    width: 62%;
    margin: 0 auto;
}
.Addset_img>h6 {
    text-align: center;
    position: relative;
    top: 47px;
    color: #fff;
}
.recent_add>ul {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 0 auto;
}
.recent_add>ul>li {
    font-size: 14px;
    position: relative;
    /*border: 1px solid #80808075;*/
    border-bottom: 1px solid #80808075;
    margin-bottom: 18px;
    padding: 8px 7px;
    /*border-radius: 4px;*/
}
.recent_add>ul>li>span {
    color: red;
    font-size: 13px;
}
.recent_add>ul>li>i {
    position: absolute;
    top: -10px;
    background: red;
    color: #fff;
    padding: 1px 14px;
    font-size: 10px;
}
.top_add>img {
    width: 100%;
}
.top_add {
    padding: 0;
}
.no_margin {
    margin: 0
}
.overlay_add {
    position: absolute;
    z-index: 99;
    background: #00000052;
    width: 95%;
    color: #fff;
    height: 96%;
    top: 2px;
    left: 3px;
}
.visit_post {
    background-image: url(../images/visiting_post_tag_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 44%;
}
.top_add {
    position: relative;
}
.cource_list {
    background-image: url(../images/training_placement_bg_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.cours_wrap {
    padding: 50px;
}
.cours_wrap>ul {
    list-style: none;
    padding-left: 0;
}
.cours_wrap>ul>li {
    margin-bottom: 10px;
    border-bottom: 1px solid #80808024;
    padding-bottom: 9px;
}
#colorlib-subscribe {
    background: #FFC300;
    position: relative;
    padding: 3em;
}
.overlay_add1 {
    position: absolute;
    z-index: 99;
    background: #00000052;
    width: 100%;
    color: #fff;
    height: 100%;
    top: 0px;
    left: 0px;
}
.overlay_add1>p {
    font-size: 12px;
    bottom: 0;
    position: absolute;
    padding: 0px 10px;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg, input.btn.btn-lg:focus {
    outline: none;
    width: 98%;
    height: 48px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 0;
}
/*button.btn {
        width: 40%;
        height: 48px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-radius: 0;
        background: red;
        border-color: red;
}*/
.promise {
    color: #999;
}
.well {
    width: 49%;
    margin: 0 auto;
}
.footer_bg {
    background-image: url(../images/copyright.png);
    background-size: contain;
    background-repeat: repeat;
    height: 380px;
    color: #fff;

}
.footer_bg.cnd{
    background-image: url(../images/copyright_cnd.png);
}
.footer_bg.aus{
    background-image: url(../images/copyright_aus.png);
}
.footer_bg.nz{
    background-image: url(../images/copyright_nz.png);
}
.footer_bg.uk{
    background-image: url(../images/copyright_uk.png);
}

.footer_bg>p {
    font-size: 16px;
    padding: 0 120px;
    letter-spacing: 1px;
    text-align: center;
}
.footer {
    background: red;
    height: 53px;
    clear: both;
    margin-top: 98px;
}
.footer>ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding-top: 14px;
    font-size: 14px;
}
.footer>ul>li {
    margin-right: 30px;
}
/* Slider */

.slick-slide {
    margin: 0px 0px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.dropdown-toggle, .dropdown-menu {
    width: 300px
}
.btn-group img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}
.dropdown-toggle {
    padding-right: 50px
}
.dropdown-toggle .glyphicon {
    margin-left: 20px;
    margin-right: -40px
}
.dropdown-menu>li>a:hover {
    background: #f1f9fd
} /* $search-blue */
.dropdown-header {
    background: #ccc;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px
}
.hororscope {
    top: -109px;
    position: absolute;
    right: 68px;
    width: 17%;
    font-size: 12px;
    padding-right: 10px;
    color: #fff;
    background: #000000b8;
    border-color: #000000b8;
    padding: 8px;
}
.cust_horoscope_drop {
    padding: 3px 10px;
    left: 18px;
    width: 218px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.cust_horoscope_drop>li>img {
    display: block;
    float: left;
}
.cust_horoscope_drop>li>span {
    font-size: 10px;
    color: #fff;
    margin-left: -10px;
    width: 85%;
    display: block;
    float: right;
}
/*==============event hohe css==================*/
.hover_image {
    position: relative;
}
.hover_image>img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 5px;
    right: 0px;
    height: 95%;
    width: 95%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0d0907ed;
}
.hover_image:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 12px;
    padding: 20px 9px;
    position: absolute;
}
.text>h6 {
    font-size: 14px;
}
.hover_testset>li>img {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
}
.hover_testset>li>span {
    float: left;
    margin-bottom: 8px;
    margin-left: 10px;
}
.hover_testset>li>span>b {
    margin-right: 10px;
}
.hover_testset>li {
    margin-bottom: 10px;
}
.star_set {
    position: absolute;
    bottom: 7px;
    left: 5px;
    color: #fff;
    background: #00000061;
    width: 94.5%;
    font-size: 10px;
    padding: 10px;
}
.tab_set {
    display: flex;
    float: right;
}
.tab_set>li {
    margin-left: 15px;
    font-size: 12px;
    color: gray;
}
.tab_set>li.active {
    color: red;
    text-decoration: underline;
}
.second_dropmenu {
    background-image: url(../images/box_office_bg_image.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 400px;
    z-index: 999;
    display: none;
}
.dropdown1 {
}
.dropdown-menu>li>a {
    color: #428bca;
}
.dropdown1 ul.dropdown-menu {
    background-image: url(../images/box_office_bg_image.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 11px;
    width: 300px;
    border: 1px solid #fff;
    padding-left: 12px;
}
.dropdown1 ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left : 16px;
    z-index: 10;
}
.dropdown1 ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 9;
}
.star_img {
    display: flex;
    list-style: none;
    position: absolute;
    top: 17px;
    left: 15px;
    padding: 0;
}
.star_img>li>img {
    height: 15px;
    width: 15px;
}

a.blk_txt, a:hover.blk_txt, a:focus.blk_txt {
    color: #212529;
    text-decoration: none;
}

a:hover.text-white label, a:focus.text-white label, a.text-white label {
    text-decoration: none;
    cursor: pointer;
}

.fs-16 {
    font-size: 15px !important;
}
/*.pr-3 {
    padding-right: 3px !important;
}
.pl-3 {
    padding-left: 3px !important;
}*/
.event-title-home {
    background-color: rgba(0,0,0,0.5);
    left: 0 !important;
    bottom: 0 !important;
    border-radius: 0 0 5px 5px;
    padding: 3px 5px 0 5px;
    width: 100%;
    font-size: 15px !important;
}
.event-title-home h6 {
    font-size: 0.9rem !important;
}


/*.chat_box_div{bottom:0;margin-right:3px;position:fixed;right:0;width:25%;z-index:1;}
.chat_box_head{background-color:#314a83;border-radius:6px 6px 0 0;color:#ffffff;font-weight:bold;padding:9px 10px 0;height:37px;}
.chat_box_body{background-color:#ffffff;border:1px solid #a1a1a1;display:block;height:420px;}
.chat_message_body{background-color:#f1f1f1;border-bottom:1px solid #a1a1a1;height:70%;overflow-y:scroll;}
.chat_row_message{background-color:#FFFFFF;border-radius:0 15px 15px 0;display:inline-block;margin-top:3px;max-width:66%;min-height:26px;min-width:30%;padding:2px 7px 2px 12px;word-wrap:break-word;}
.chat_row_message_me{background-color:#FFFFFF;border-radius:15px 0 0 15px;display:inline-block;margin-top:3px;max-width:76%;min-height:26px;min-width:30%;padding:2px 7px 2px 12px;word-wrap:break-word;}
.chat_message_user{color:#ff483f;font-size:12px;}
.chat_textarea{background-color:#f1f1f1;border:1px solid #a1a1a1;resize:none;width:93%;}
.chat_message_box{margin:7px 6px 8px 5px;}
.chat_smiley_box{background-color:#f1f1f1;border:1px solid #c1c1c1;border-radius:4px;bottom:29px;min-height:61px;position:absolute;right:31px;width:66%;padding:3px 2px 4px 8px;}
.chat_online_sign{background-color:green;border-radius:15px;color:green;display:inline-block;font-size:0px;font-weight:700;line-height:1;min-width:5px;padding:4px 4px;text-align:center;vertical-align:middle;white-space:nowrap;}*/

.list-state li {
    display: inline-block;
    width: 15%;
}
.list-state li a, .list-state li a:hover {
    text-align: center;
    display: block;
    text-decoration: none;
}
.list-state li a img {
    width: 32px;
    height: auto;
}
.h6_fam_links {
    font-size: 18px;
}


.blk_txt{
    font-weight: bold !important;
}
.h5{
    font-size :0px 
}